openapi: 3.2.0
info:
  title: 32 Biosciences Content API (WordPress REST wp/v2) Taxonomy…
  version: wp/v2
  summary: 'Public read surface of 32biosciences.com content: news releases and features, marketing and platform pages, leadership and scientific-advisor profiles, the media library, taxonomies and site search.'
  description: 32 Biosciences publishes 32biosciences.com on WordPress, which exposes the WordPress REST API at https://32biosciences.com/wp-json/.
  contact:
    name: 32 Biosciences
    url: https://32biosciences.com/contact/
    email: info@32biosciences.com
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://32biosciences.com/wp-json/
  x-derived-on: '2026-09-05'
  x-provider-published: false
servers:
- url: https://32biosciences.com/wp-json
  description: Production
tags:
- name: Taxonomy
paths:
  /wp/v2/categories:
    get:
      operationId: getCategories
      summary: GET /wp/v2/categories
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          default: name
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
        description: Sort collection by term attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createCategories
      summary: POST /wp/v2/categories
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
              required:
              - name
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
  /wp/v2/categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment `id` (from the WordPress route pattern).
    get:
      operationId: getCategoriesById
      summary: GET /wp/v2/categories/{id}
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: updateCategoriesById
      summary: POST /wp/v2/categories/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
    put:
      operationId: replaceCategoriesById
      summary: PUT /wp/v2/categories/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
    patch:
      operationId: patchCategoriesById
      summary: PATCH /wp/v2/categories/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
    delete:
      operationId: deleteCategoriesById
      summary: DELETE /wp/v2/categories/{id}
      tags:
      - Taxonomy
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
  /wp/v2/tags:
    get:
      operationId: getTags
      summary: GET /wp/v2/tags
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          default: name
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
        description: Sort collection by term attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createTags
      summary: POST /wp/v2/tags
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
              required:
              - name
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
  /wp/v2/tags/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment `id` (from the WordPress route pattern).
    get:
      operationId: getTagsById
      summary: GET /wp/v2/tags/{id}
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: updateTagsById
      summary: POST /wp/v2/tags/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
    put:
      operationId: replaceTagsById
      summary: PUT /wp/v2/tags/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
    patch:
      operationId: patchTagsById
      summary: PATCH /wp/v2/tags/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
    delete:
      operationId: deleteTagsById
      summary: DELETE /wp/v2/tags/{id}
      tags:
      - Taxonomy
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous calls return 401 `rest_forbidden`.
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. `rest_post_invalid_id`.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
  responses:
    Error:
      description: WordPress REST error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. The route-discovery document advertises the authorization endpoint at https://32biosciences.com/wp-admin/authorize-application.php. Anonymous read access needs no credential; every write, and the settings and abilities routes, require one.
