openapi: 3.1.0
info:
  title: 32 Biosciences Users API (WordPress REST wp/v2)
  version: wp/v2
  summary: 'Public read surface of 32biosciences.com content: news releases and features, marketing and platform
    pages, leadership and scientific-advisor profiles, the media library, taxonomies and site search.'
  description: '32 Biosciences publishes 32biosciences.com on WordPress, which exposes the WordPress REST API at
    https://32biosciences.com/wp-json/. The `wp/v2` namespace is anonymously readable and returns the company''s
    news releases and feature posts, marketing and platform pages (Technology, Therapeutic Platform, Discovery Platform,
    Pipeline & Proof of Concept, Our Story, Team, Investor Relations), individual leadership and scientific advisory
    profiles, the media library, taxonomies and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://32biosciences.com/wp-json/
    on 2026-09-05 — every path, method and parameter below is taken verbatim from that descriptor. 32 Biosciences
    does not publish an OpenAPI definition of its own, and this is not a product API: it is the content API the
    CMS exposes. Write operations exist on these routes but require authentication (WordPress Application Passwords
    over HTTP Basic). `/wp/v2/comments` is served but returns HTTP 403 `rest_comment_disabled` because commenting
    is switched off site-wide, and `/wp/v2/settings` returns HTTP 401 `rest_forbidden` anonymously.'
  contact:
    name: 32 Biosciences
    url: https://32biosciences.com/contact/
    email: info@32biosciences.com
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://32biosciences.com/wp-json/
  x-derived-on: '2026-09-05'
  x-provider-published: false
servers:
- url: https://32biosciences.com/wp-json
  description: Production
tags:
- name: Users
paths:
  /wp/v2/users:
    get:
      operationId: getUsers
      summary: GET /wp/v2/users
      tags:
      - Users
      parameters:
      - name: capabilities
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to users matching at least one specific capability provided. Accepts csv list
          or single capability.
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: has_published_posts
        in: query
        required: false
        schema:
          type: boolean
        description: Limit result set to users who have published posts.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          default: name
          enum:
          - id
          - include
          - name
          - registered_date
          - slug
          - include_slugs
          - email
          - url
        description: Sort collection by user attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: roles
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to users matching at least one specific role provided. Accepts csv list or
          single role.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - email
            - name
            - id
            - username
            - slug
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to users with one or more specific slugs.
      - name: who
        in: query
        required: false
        schema:
          type: string
          enum:
          - authors
        description: Limit result set to users who are considered authors.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createUsers
      summary: POST /wp/v2/users
      tags:
      - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                elementor_introduction:
                  type: object
                  description: Elementor user meta data
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
              required:
              - email
              - password
              - username
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment `id` (from the WordPress route pattern).
    get:
      operationId: getUsersById
      summary: GET /wp/v2/users/{id}
      tags:
      - Users
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the user.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: updateUsersById
      summary: POST /wp/v2/users/{id}
      tags:
      - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                elementor_introduction:
                  type: object
                  description: Elementor user meta data
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                id:
                  type: integer
                  description: Unique identifier for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum: &id001
                  - ''
                  - en_US
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    put:
      operationId: replaceUsersById
      summary: PUT /wp/v2/users/{id}
      tags:
      - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                elementor_introduction:
                  type: object
                  description: Elementor user meta data
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                id:
                  type: integer
                  description: Unique identifier for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum: *id001
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    patch:
      operationId: patchUsersById
      summary: PATCH /wp/v2/users/{id}
      tags:
      - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                elementor_introduction:
                  type: object
                  description: Elementor user meta data
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                id:
                  type: integer
                  description: Unique identifier for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum: *id001
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    delete:
      operationId: deleteUsersById
      summary: DELETE /wp/v2/users/{id}
      tags:
      - Users
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as users do not support trashing.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the user.
      - name: reassign
        in: query
        required: true
        schema:
          type: integer
        description: Reassign the deleted user's posts and links to this user ID.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/users/me:
    get:
      operationId: getUsersMe
      summary: GET /wp/v2/users/me
      tags:
      - Users
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createUsersMe
      summary: POST /wp/v2/users/me
      tags:
      - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                elementor_introduction:
                  type: object
                  description: Elementor user meta data
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum: &id002
                  - ''
                  - en_US
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    put:
      operationId: replaceUsersMe
      summary: PUT /wp/v2/users/me
      tags:
      - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                elementor_introduction:
                  type: object
                  description: Elementor user meta data
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum: *id002
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    patch:
      operationId: patchUsersMe
      summary: PATCH /wp/v2/users/me
      tags:
      - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description of the user.
                elementor_introduction:
                  type: object
                  description: Elementor user meta data
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                locale:
                  type: string
                  enum: *id002
                  description: Locale for the user.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: Display name for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                password:
                  type: string
                  description: Password for the user (never included).
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                username:
                  type: string
                  description: Login name for the user.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    delete:
      operationId: deleteUsersMe
      summary: DELETE /wp/v2/users/me
      tags:
      - Users
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as users do not support trashing.
      - name: reassign
        in: query
        required: true
        schema:
          type: integer
        description: Reassign the deleted user's posts and links to this user ID.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
components:
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. The route-discovery document advertises the
        authorization endpoint at https://32biosciences.com/wp-admin/authorize-application.php. Anonymous read access
        needs no credential; every write, and the settings and abilities routes, require one.
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. `rest_post_invalid_id`.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
  responses:
    Error:
      description: WordPress REST error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
