openapi: 3.1.0
info:
  title: 32 Biosciences Discovery API (WordPress REST wp/v2)
  version: wp/v2
  summary: 'Public read surface of 32biosciences.com content: news releases and features, marketing and platform
    pages, leadership and scientific-advisor profiles, the media library, taxonomies and site search.'
  description: '32 Biosciences publishes 32biosciences.com on WordPress, which exposes the WordPress REST API at
    https://32biosciences.com/wp-json/. The `wp/v2` namespace is anonymously readable and returns the company''s
    news releases and feature posts, marketing and platform pages (Technology, Therapeutic Platform, Discovery Platform,
    Pipeline & Proof of Concept, Our Story, Team, Investor Relations), individual leadership and scientific advisory
    profiles, the media library, taxonomies and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://32biosciences.com/wp-json/
    on 2026-09-05 — every path, method and parameter below is taken verbatim from that descriptor. 32 Biosciences
    does not publish an OpenAPI definition of its own, and this is not a product API: it is the content API the
    CMS exposes. Write operations exist on these routes but require authentication (WordPress Application Passwords
    over HTTP Basic). `/wp/v2/comments` is served but returns HTTP 403 `rest_comment_disabled` because commenting
    is switched off site-wide, and `/wp/v2/settings` returns HTTP 401 `rest_forbidden` anonymously.'
  contact:
    name: 32 Biosciences
    url: https://32biosciences.com/contact/
    email: info@32biosciences.com
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://32biosciences.com/wp-json/
  x-derived-on: '2026-09-05'
  x-provider-published: false
servers:
- url: https://32biosciences.com/wp-json
  description: Production
tags:
- name: Discovery
paths:
  /wp/v2/search:
    get:
      operationId: getSearch
      summary: GET /wp/v2/search
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          default: any
          items:
            type: string
            enum:
            - post
            - page
            - e-floating-buttons
            - elementor_library
            - category
            - post_tag
            - any
        description: Limit results to items of one or more object subtypes.
      - name: type
        in: query
        required: false
        schema:
          type: string
          default: post
          enum:
          - post
          - term
          - post-format
        description: Limit results to items of an object type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /wp/v2/taxonomies:
    get:
      operationId: getTaxonomies
      summary: GET /wp/v2/taxonomies
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: Limit results to taxonomies associated with a specific post type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /wp/v2/taxonomies/{taxonomy}:
    parameters:
    - name: taxonomy
      in: path
      required: true
      schema:
        type: string
      description: Path segment `taxonomy` (from the WordPress route pattern).
    get:
      operationId: getTaxonomiesByTaxonomy
      summary: GET /wp/v2/taxonomies/{taxonomy}
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: taxonomy
        in: query
        required: false
        schema:
          type: string
        description: An alphanumeric identifier for the taxonomy.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /wp/v2/types:
    get:
      operationId: getTypes
      summary: GET /wp/v2/types
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /wp/v2/types/{type}:
    parameters:
    - name: type
      in: path
      required: true
      schema:
        type: string
      description: Path segment `type` (from the WordPress route pattern).
    get:
      operationId: getTypesByType
      summary: GET /wp/v2/types/{type}
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: An alphanumeric identifier for the post type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /wp/v2/statuses:
    get:
      operationId: getStatuses
      summary: GET /wp/v2/statuses
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /wp/v2/statuses/{status}:
    parameters:
    - name: status
      in: path
      required: true
      schema:
        type: string
      description: Path segment `status` (from the WordPress route pattern).
    get:
      operationId: getStatusesByStatus
      summary: GET /wp/v2/statuses/{status}
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: An alphanumeric identifier for the status.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
  /oembed/1.0/embed:
    get:
      operationId: getOembedEmbed
      summary: GET /oembed/1.0/embed
      tags:
      - Discovery
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        required: false
        schema:
          type: string
          default: 600
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. The route-discovery document advertises the
        authorization endpoint at https://32biosciences.com/wp-admin/authorize-application.php. Anonymous read access
        needs no credential; every write, and the settings and abilities routes, require one.
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. `rest_post_invalid_id`.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
  responses:
    Error:
      description: WordPress REST error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
