openapi: 3.1.0
info:
  title: 32 Biosciences Content API (WordPress REST wp/v2)
  version: wp/v2
  summary: 'Public read surface of 32biosciences.com content: news releases and features, marketing and platform
    pages, leadership and scientific-advisor profiles, the media library, taxonomies and site search.'
  description: '32 Biosciences publishes 32biosciences.com on WordPress, which exposes the WordPress REST API at
    https://32biosciences.com/wp-json/. The `wp/v2` namespace is anonymously readable and returns the company''s
    news releases and feature posts, marketing and platform pages (Technology, Therapeutic Platform, Discovery Platform,
    Pipeline & Proof of Concept, Our Story, Team, Investor Relations), individual leadership and scientific advisory
    profiles, the media library, taxonomies and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://32biosciences.com/wp-json/
    on 2026-09-05 — every path, method and parameter below is taken verbatim from that descriptor. 32 Biosciences
    does not publish an OpenAPI definition of its own, and this is not a product API: it is the content API the
    CMS exposes. Write operations exist on these routes but require authentication (WordPress Application Passwords
    over HTTP Basic). `/wp/v2/comments` is served but returns HTTP 403 `rest_comment_disabled` because commenting
    is switched off site-wide, and `/wp/v2/settings` returns HTTP 401 `rest_forbidden` anonymously.'
  contact:
    name: 32 Biosciences
    url: https://32biosciences.com/contact/
    email: info@32biosciences.com
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://32biosciences.com/wp-json/
  x-derived-on: '2026-09-05'
  x-provider-published: false
servers:
- url: https://32biosciences.com/wp-json
  description: Production
tags:
- name: Comments
- name: Discovery
- name: Media
- name: Pages
- name: Posts
- name: Settings
- name: Taxonomy
- name: Users
paths:
  /wp/v2/posts:
    get:
      operationId: getPosts
      summary: GET /wp/v2/posts
      tags:
      - Posts
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: categories
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the categories taxonomy.
      - name: categories_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the categories taxonomy.
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: format
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
        description: Limit result set to items assigned one or more given formats.
      - name: ignore_sticky
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Whether to ignore sticky posts or not.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          default: date
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - dp-rewrite-republish
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: sticky
        in: query
        required: false
        schema:
          type: boolean
        description: Limit result set to items that are sticky.
      - name: tags
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
      - name: tags_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the tags taxonomy.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createPosts
      summary: POST /wp/v2/posts
      tags:
      - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                format:
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                meta:
                  type: object
                  description: Meta fields.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                sticky:
                  type: boolean
                  description: Whether or not the post should be treated as sticky.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/posts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment `id` (from the WordPress route pattern).
    get:
      operationId: getPostsById
      summary: GET /wp/v2/posts/{id}
      tags:
      - Posts
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: updatePostsById
      summary: POST /wp/v2/posts/{id}
      tags:
      - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                comment_status:
                  type: string
                  enum: &id001
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                format:
                  type: string
                  enum: &id002
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                ping_status:
                  type: string
                  enum: &id003
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: &id004
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                sticky:
                  type: boolean
                  description: Whether or not the post should be treated as sticky.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    put:
      operationId: replacePostsById
      summary: PUT /wp/v2/posts/{id}
      tags:
      - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                comment_status:
                  type: string
                  enum: *id001
                  description: Whether or not comments are open on the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                format:
                  type: string
                  enum: *id002
                  description: The format for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                ping_status:
                  type: string
                  enum: *id003
                  description: Whether or not the post can be pinged.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id004
                  description: A named status for the post.
                sticky:
                  type: boolean
                  description: Whether or not the post should be treated as sticky.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    patch:
      operationId: patchPostsById
      summary: PATCH /wp/v2/posts/{id}
      tags:
      - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                comment_status:
                  type: string
                  enum: *id001
                  description: Whether or not comments are open on the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                format:
                  type: string
                  enum: *id002
                  description: The format for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                ping_status:
                  type: string
                  enum: *id003
                  description: Whether or not the post can be pinged.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id004
                  description: A named status for the post.
                sticky:
                  type: boolean
                  description: Whether or not the post should be treated as sticky.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    delete:
      operationId: deletePostsById
      summary: DELETE /wp/v2/posts/{id}
      tags:
      - Posts
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/pages:
    get:
      operationId: getPages
      summary: GET /wp/v2/pages
      tags:
      - Pages
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to posts with a specific menu_order value.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          default: date
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - dp-rewrite-republish
            - any
        description: Limit result set to posts assigned one or more statuses.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createPages
      summary: POST /wp/v2/pages
      tags:
      - Pages
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/pages/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment `id` (from the WordPress route pattern).
    get:
      operationId: getPagesById
      summary: GET /wp/v2/pages/{id}
      tags:
      - Pages
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: updatePagesById
      summary: POST /wp/v2/pages/{id}
      tags:
      - Pages
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                comment_status:
                  type: string
                  enum: &id005
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                ping_status:
                  type: string
                  enum: &id006
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: &id007
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    put:
      operationId: replacePagesById
      summary: PUT /wp/v2/pages/{id}
      tags:
      - Pages
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                comment_status:
                  type: string
                  enum: *id005
                  description: Whether or not comments are open on the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                ping_status:
                  type: string
                  enum: *id006
                  description: Whether or not the post can be pinged.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id007
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    patch:
      operationId: patchPagesById
      summary: PATCH /wp/v2/pages/{id}
      tags:
      - Pages
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                comment_status:
                  type: string
                  enum: *id005
                  description: Whether or not comments are open on the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                ping_status:
                  type: string
                  enum: *id006
                  description: Whether or not the post can be pinged.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id007
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    delete:
      operationId: deletePagesById
      summary: DELETE /wp/v2/pages/{id}
      tags:
      - Pages
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/media:
    get:
      operationId: getMedia
      summary: GET /wp/v2/media
      tags:
      - Media
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: media_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
        description: Limit result set to attachments of a particular media type or media types.
      - name: mime_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to attachments of a particular MIME type or MIME types.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          default: date
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: inherit
          items:
            type: string
            enum:
            - inherit
            - private
            - trash
        description: Limit result set to posts assigned one or more statuses.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createMedia
      summary: POST /wp/v2/media
      tags:
      - Media
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                author:
                  type: integer
                  description: The ID for the author of the post.
                caption:
                  type: object
                  description: The attachment caption.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                convert_format:
                  type: boolean
                  default: true
                  description: Whether to convert image formats.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                description:
                  type: object
                  description: The attachment description.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                generate_sub_sizes:
                  type: boolean
                  default: true
                  description: Whether to generate image sub sizes.
                meta:
                  type: object
                  description: Meta fields.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
                url:
                  type: string
                  format: uri
                  description: URL of an external image to sideload into the media library, instead of uploading
                    a file.
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/media/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment `id` (from the WordPress route pattern).
    get:
      operationId: getMediaById
      summary: GET /wp/v2/media/{id}
      tags:
      - Media
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: updateMediaById
      summary: POST /wp/v2/media/{id}
      tags:
      - Media
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                author:
                  type: integer
                  description: The ID for the author of the post.
                caption:
                  type: object
                  description: The attachment caption.
                comment_status:
                  type: string
                  enum: &id008
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                description:
                  type: object
                  description: The attachment description.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                ping_status:
                  type: string
                  enum: &id009
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: &id010
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    put:
      operationId: replaceMediaById
      summary: PUT /wp/v2/media/{id}
      tags:
      - Media
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                author:
                  type: integer
                  description: The ID for the author of the post.
                caption:
                  type: object
                  description: The attachment caption.
                comment_status:
                  type: string
                  enum: *id008
                  description: Whether or not comments are open on the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                description:
                  type: object
                  description: The attachment description.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                ping_status:
                  type: string
                  enum: *id009
                  description: Whether or not the post can be pinged.
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id010
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    patch:
      operationId: patchMediaById
      summary: PATCH /wp/v2/media/{id}
      tags:
      - Media
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                author:
                  type: integer
                  description: The ID for the author of the post.
                caption:
                  type: object
                  description: The attachment caption.
                comment_status:
                  type: string
                  enum: *id008
                  description: Whether or not comments are open on the post.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                description:
                  type: object
                  description: The attachment description.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                ping_status:
                  type: string
                  enum: *id009
                  description: Whether or not the post can be pinged.
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id010
                  description: A named status for the post.
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    delete:
      operationId: deleteMediaById
      summary: DELETE /wp/v2/media/{id}
      tags:
      - Media
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/categories:
    get:
      operationId: getCategories
      summary: GET /wp/v2/categories
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          default: name
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
        description: Sort collection by term attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createCategories
      summary: POST /wp/v2/categories
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
              required:
              - name
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment `id` (from the WordPress route pattern).
    get:
      operationId: getCategoriesById
      summary: GET /wp/v2/categories/{id}
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: updateCategoriesById
      summary: POST /wp/v2/categories/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    put:
      operationId: replaceCategoriesById
      summary: PUT /wp/v2/categories/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    patch:
      operationId: patchCategoriesById
      summary: PATCH /wp/v2/categories/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    delete:
      operationId: deleteCategoriesById
      summary: DELETE /wp/v2/categories/{id}
      tags:
      - Taxonomy
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/tags:
    get:
      operationId: getTags
      summary: GET /wp/v2/tags
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          default: name
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
        description: Sort collection by term attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: createTags
      summary: POST /wp/v2/tags
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
              required:
              - name
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/tags/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Path segment `id` (from the WordPress route pattern).
    get:
      operationId: getTagsById
      summary: GET /wp/v2/tags/{id}
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
    post:
      operationId: updateTagsById
      summary: POST /wp/v2/tags/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    put:
      operationId: replaceTagsById
      summary: PUT /wp/v2/tags/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    patch:
      operationId: patchTagsById
      summary: PATCH /wp/v2/tags/{id}
      tags:
      - Taxonomy
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
    delete:
      operationId: deleteTagsById
      summary: DELETE /wp/v2/tags/{id}
      tags:
      - Taxonomy
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
      - applicationPassword: []
      description: Write operation. WordPress requires an authenticated user with the relevant capability; anonymous
        calls return 401 `rest_forbidden`.
  /wp/v2/comments:
    get:
      operationId: getComments
      summary: GET /wp/v2/comments
      tags:
      - Comments
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to comments published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
      - name: author_email
        in: query
        required: false
        schema:
          type: string
          format: email
        description: Limit result set to that from a specific author email. Requires authorization.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to comments published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
          enum:
          - view
          - embed
          - edit
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          default: date_gmt
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
        description: Sort collection by comment attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to comments of specific parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific parent IDs.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
[...]
